*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /*regole debug*/
[class*="col-"] {
    
    background-color: aqua;
    border: solid 1px white;
    min-height: 50px;
    
}
#col-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nested{
    background-color: chartreuse;
    align-items: center;
    display: flex;
    justify-content: center;
}
    


section{
    margin-top:15px;
}